
@media (max-width: 768px) {
    .footer-up {
        flex-direction: column;
        gap: 0px;
    }

    .footer-up h1 {
        width: 90%;
        text-align: center;
    }

    .main-content {
        display: block;
    }

    main {
        width: 100%;
    }

    .content-foot-mid-col {
        flex-direction: column;
        gap: 0px;
    }

    .container-footer-up-btn {
        width: 80%;
    }

    .card {
        grid-template-columns: repeat(3 ,1fr);
    }
    

    /* .cards { 
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-columns: repeat(3, 1fr);
        background-color: yellow;
    } */
}


@media (max-width: 425px) {
    .container-navbar-navbar {
        display: block;
    }
    
    .menu {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    .card {
        grid-template-columns: repeat(4 ,1fr);
    }
    /* .cards { 
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-columns: repeat(2, 1fr);
        background-color: red;
    } */
}