
.container-product-anak {
    padding: 0px 17px 0px 17px;
}

.container-category {
    margin: 30px 0px 30px 0px;
}

.container-category-up {
    display: flex;
    padding: 23px 0px 23px 0px;
    align-items: center;
}

.container-category-up a {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px 16px 0px 20px;
}

.container-category-up p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    margin: 0px;
}

.container-category-bottom h1 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    margin: 11px 0px 11px 0px;
}

.container-items-product {
    margin-bottom: 50px;
    display: grid;
    column-gap: 1rem;
}

.container-items-product a {
    text-decoration: none;
}

.container-items-product a:hover {
    border: 1px solid black;
}

.items-card-product {
    /* position: relative; */
    background-color: white;
    color: black;
    margin-top: 2rem;
}

.items-card-product img {
    width: 100%;
    height: 70%;
}

.container-des-product {
    padding: 8px;
}

.items-card-product h1:nth-child(2) {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    /* transform-origin: right top; */
    margin: 0px;
    /* transform: translate(0, 0); */
    z-index: 3;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.items-card-product i {
    margin: 10px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
}

.items-card-product h1{
    color: #000;
    font-family: Arial;
    font-size: 17.649px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.532px; /* 133.333% */
    letter-spacing: 0.735px;
    text-transform: uppercase;
}

.items-card-product p {
    color: #000;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
